header{
    background-color: saddlebrown;
    width: 100%;
    padding: 30px;
}
header h1 {
    color:floralwhite;
    text-align: center;
}
header img {
    width: 100px;
    height: 240px;
    object-fit: cover;
}